<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-starmgsio" version="1.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>StarMgsIO</name>
    <description>Cordova plugin for interacting with Star Micronics bluetooth scales</description>
    <keywords>cordova, starmgsio, sdk</keywords>
	<license>MIT</license>
	<js-module name="StarMgsIO" src="www/StarMgsIO.js">
		<clobbers target="StarMgsIO" />
	</js-module>

    <platform name="android">
    
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

        <framework src="com.starmicronics:starmgsio:1.5.0" />
        <framework src="androidx.appcompat:appcompat:1.0.3" />
        <framework src="androidx.constraintlayout:constraintlayout:1.1.3" />

		<source-file src="src/android/StarMgsIO.java" target-dir="src/starmgsio/cordova" />
        
		<config-file target="res/xml/config.xml" parent="/*">
            <feature name="StarMgsIO">
                <param name="android-package" value="starmgsio.cordova.StarMgsIO" />
            </feature>
        </config-file>

    </platform>

</plugin>